sqlstart-353422-4a9e69a6444e.json
venv
venv1
Datasets/US_youtube_trending_data.csv
Datasets/US_category_id.json
Datasets/Forbes Richest Athletes (Forbes Richest Athletes 1990-2021).csv
Datasets/instagram_global_top_1000.csv
Datasets/politicans_dataset.csv
Datasets/Top-1000-Celebrity-Twitter-Accounts.csv
Datasets/top10k-spotify-artist-metadata.csv
